div, a {
	@include box-sizing(border-box);
}

html, body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 120%;
	font-family: 'Lora', Georgia, serif;
	color: #4e4848;

	/* enhances font rendering? */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	/* on touch devices only */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include large-and-up {
		font-size: 160%;
	}
}

main {
	display: block;
}

h1, h2, h3 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

h1 {
	padding: .3rem 1rem;
	line-height: 150%;
	text-align: center;
	-webkit-text-stroke: 0.5px;
}

h2 {
	margin: 1rem 0;
	line-height: 180%;
}

h3 {
	margin: 1rem 0;
	border-bottom: 1px solid #ddd;
	font-weight: 100;
	line-height: 4rem;
}

/** space between content */
p, ul, .gist, pre[class*='language-'] {
	margin: 0 0 2.5rem;
}

/** content formatting */
p, li {
	font-size: 115%;
	line-height: 180%;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

a {
	@include link-colors(#41b7d8, #41b7d8, #41b7d8, #41b7d8, #41b7d8);
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&:hover {
		border-bottom-color: #41b7d8;
	}
}

pre {
	border: 1px solid #d9d9d9;
	border-left-width: 6px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	@include box-shadow(inset 0 0 2px #eee);
	background-color: #f8f8f8 !important; /* overrides prism bg */
}

code {
	color: #666 !important; /* overrides prism color */;
	font-size: 1.4rem;
	font-family: Monaco, Consolas, 'Andale Mono', monospace;
	text-shadow: none !important; /* overrides prism text shadow */

	p > &,
	li > & {
		margin: 0 .2rem;
		border: 1px solid #eaeaea;
		border-radius: 3px;
		background-color: #f8f8f8;
		padding: .2rem .3rem;
		color: #555;
	}

	h2 > &,
	h3 > & {
		font-size: 90%;
		color: #f6358a;
	}
}

blockquote::before {
	content: '\201F';
	font-size: 2rem;
}

blockquote::after {
	content: '\201E';
	font-size: 2rem;
}

strong {
	font-weight: 700;
	//color: #f6358a;
}

em {
	color: #f6358a;
	font-style: normal;
}