$mq-small: 320px !default;
$mq-normal: 400px !default;
$mq-large: 700px !default;

//
// normal size
//

@mixin normal {
	@media (min-width: $mq-small + 1) and (max-width: $mq-normal) { @content; }
}

@mixin normal-and-up {
	@media (min-width: $mq-normal) { @content; }
}

//
// large size
//

@mixin large {
	@media (min-width: $mq-normal + 1) and (max-width: $mq-large) { @content; }
}

@mixin large-and-up {
	@media (min-width: $mq-large) { @content; }
}

// retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
		@content;
	}
}