//// third party
@import 'compass';
//@import 'compass/reset';
//@import 'animation';
//
//// mixins
@import 'mq';
//@import 'colors';
//
//// classes
@import 'base';
//@import 'fonts';

//@import 'icons';
//@import 'anims';

main {
	min-height: 100%;
	padding: 1em;
	@include large-and-up {
		width: 70rem;
		margin: 0 auto;
		padding: 0;
	}
}

//
// me
//

.me {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 6rem;
	height: 6rem;
	@include box-shadow(0 0 5px #aeaeae);
	@include rotate(5deg);
	@include large-and-up {
		width: 8rem;
		height: 8rem;
	}
}

//
// code hightlighting stuff
//

pre[class*='language-'] {
	position: relative;
	overflow-x: hidden; /* this is to avoid sometimes initial useless scrollbar */
	code {
		opacity: 0;
		@include transition(opacity 1s);
	}
	&.highlighted {
		overflow-x: auto;
		code {
			opacity: 1;
		}
	}
}

.token a {
	color: #41b7d8;
}

//
// comments
//

#comments {
	margin-top: 6rem;
}
