@import 'compass';
@import 'mq';
@import 'base';

main {
	min-height: 100%;
	padding: 1em;
	@include large-and-up {
		width: 70rem;
		margin: 0 auto;
		padding: 0;
	}
}

@include large-and-up {
	html {
		display: table;
		width: 100%;
	}

	body {
		display: table-cell;
		vertical-align: middle;
	}
}

//
// me
//

.me {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 6rem;
	height: 6rem;
	@include box-shadow(0 0 5px #aeaeae);
	@include rotate(5deg);
	@include large-and-up {
		width: 8rem;
		height: 8rem;
	}
}

//
// code hightlighting stuff
//

pre[class*='language-'] {
	position: relative;
	overflow-x: hidden; /* this is to avoid sometimes initial useless scrollbar */

	code {
		opacity: 0;
		@include transition(opacity 1s);
	}
	&.highlighted {
		overflow-x: auto;
		code {
			opacity: 1;
		}
	}
}

.token a {
	color: #41b7d8;
}

.token.operator {
	background: transparent;
}

//
// info
//

.author,
.reading-time {
	display: inline-block;
	width: 49%;
	font-size: 80%;
	color: #999;
}

.reading-time {
	text-align: right;
}

//
// comments
//

#comments {
	margin-top: 6rem;
}

//
// splash rotation
//

.splash {
	position: relative;
	height: 444px;
}

.splash img {
	position: absolute;
	top: 0;
	left: 50%;
	@include translateX(-50%);
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: fade 24s linear infinite;
}

.splash img:nth-child(2) {
	-webkit-animation-delay: 8s;
}

.splash img:nth-child(3) {
	-webkit-animation-delay: 16s;
}

@-webkit-keyframes fade {
	0% { opacity: 0}
	8.33% { opacity: 1 }
	33.32% { opacity: 1 }
	41.65% { opacity: 0 }
	100% { opactiy: 0 }
}